<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://cordova.apache.org/ns/plugins/1.0"
    id="mmir-plugin-tts-nuance-xhr"
    version="0.3.0">

    <name>Nuance Web Speech Synthesis</name>

    <keywords>cordova,speech,tts,synthesis</keywords>

    <description>
      Cordova plugin for the MMIR framework that adds Text To Speech (TTS) synthesis via Nuance web services
    </description>

    <author>russa, DFKI</author>

    <engines>
        <engine name="cordova" version=">=5.0" />
    </engines>

    <!-- MMIR_PLUGIN_MODE: "normal" | "compat" | "webpack" -->
    <preference name="MMIR_PLUGIN_MODE" default="normal" />
    <hook src="res/js/before_plugin_install_hook.js" type="before_plugin_install" />

    <dependency id="mmir-plugin-speech-nuance-lang" version="^1.1.0" />

    <!-- TODO add when adding support for AMR codec to Nuance TTS over HTTPS: -->
    <!--dependency id="mmir-plugin-encoder-amr" url="." subdir="mmir-plugin-encoder-amr" /-->

    <!-- ASR plugin implementation for integration into MMIR framework  -->
    <asset
        src="www/ttsNuanceXhr.js"
        target="mmirf/env/media/ttsNuanceXhr.js" />

</plugin>
